{% extends 'base.html.twig' %}

{% block body %}
    <h1> Edit ticket</h1>

    {{ form_start(form) }}
    {{ form_row(form.description) }}
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPPORT') %}
        {{ form_row(form.priority) }}
        {{ form_row(form.status) }}
    {% endif %}
    <button type="submit">Save changes</button>
    {{ form_end(form) }}
{% endblock %}