{% extends 'base.html.twig' %}


{% block body %}
    <h1>{{ 'title.ticket_new' }}</h1>

    {{ form_start(form) }}

    {{ form_row(form.description) }}
    {% if form.priority is defined %}
        {{ form_row(form.priority) }}
    {% endif %}
    {% if form.status is defined %}
        {{ form_row(form.status) }}
    {% endif %}

    <button type="submit">Créer le ticket</button>
    {{ form_widget(form.saveAndCreateNew, {label: 'Enregistrer et faire un autre ticket'}) }}
    {{ form_end(form) }}
    <form action="{{ path('app_ticket') }}" method="post">
        <button type="submit">Annuler</button>
    </form>
{% endblock %}

